@import './../../assets/mixins.scss';

.channels-container {
  position: relative;

  .channels-controls {
    display: flex;
    width: 100%;
    margin: 20px 0;
    align-items: center;

    .channels-container-input {
      flex: 0 1 400px;
    }

    .container-pagination {
      flex: 0 1 100%;
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      gap: 10px;
      justify-content: flex-end;

      > li {
        flex: 0 1 40px;
        height: 40px;

        > a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

          &.container-pagination-link {
            @include hoverable;
          }

          &.container-pagination-link-selected {
            background-color: #000;
            @include hoverable-selected;
          }
        }
      }
    }
  }
}
