@import './assets/variables.scss';

@mixin hoverable {
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $selected-background-color;
    border: 1px solid darken($selected-background-color, 20);
  }
}

@mixin hoverable-selected {
  background-color: darken($selected-background-color, 5);
  border: 1px solid darken($selected-background-color, 25);

  &:hover {
    background-color: darken($selected-background-color, 5);
    border: 1px solid darken($selected-background-color, 25);
  }
}
