// Dimensions
$nav-height: 50px;
$channel-card-height: 30px;

// Colors
$primary-color: rgb(28, 76, 153);
$text-contrast-dark-color: rgb(250, 250, 250);
$text-main-color: #10182f;
$selected-background-color: rgb(232, 249, 255);
$input-border-color: rgb(150, 150, 150);
$background-white-accent: rgb(245, 245, 245);
$nav-item: rgb(60, 60, 60);
$nav-item-hover: rgb(10, 10, 10);

// z-index
$nav-z-index: 501;

$container-padding: 20px;

